    #feedback{
        border-radius: 25px;
    }
    
    .fadeIn{
        animation: fadeIn 1s;
    }
    
    .fadeOut{
        animation: fadeOut 5s; 
        opacity: 0;
    }


    .exitIcon{
        text-align: right;
    }
    
    @keyframes fadeIn{
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @keyframes fadeOut{
        0% {opacity:1;}
        100% {opacity:0;}
    }
    
    .textColorGray{
        color: rgb(63, 62, 62)
    }
    
    .button1{
        text-align: right;
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #000000;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
    }
    .button1:hover{
        color:#000000;
        background-color:#a7a1a1;
    }
    @media all and (max-width:30em){
        .button1{
            display: block;
            margin: 0.4em auto;
        }
    }
    .button-bibber{
        animation: bibber;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;  
    }
    
    @keyframes bibber {
        0% {margin-left: 0px; margin-right: 0px;}
        7% {margin-left: 10px;}
        15% {margin-left: 0px; margin-right: 0px;}
        24% {margin-right: 10px;} 
        30% {margin-left: 0px; margin-right: 0px;}
        100% {margin-left: 0px; margin-right: 0px;}
    }
    

    .leftDiv{
        text-align: left;
        display: flex;
    }


@media only screen and (min-width: 768px){
    .iconVisable{
        visibility: visible;
    }
    .textSize{
        font-size: 20px;
    }
    .rightDiv{
        text-align: right;
    }
}


@media only screen and (max-width: 767px){
    .iconVisable{
        visibility: hidden;
    }

    .textSize{
        font-size: 8px;
    }

    .rightDiv{
        text-align: left;
        display: inline-grid;
    }
}


