@keyframes bibber {
    0% {
        margin-left: 0px;
        margin-right: 0px;
    }
    7% {
        margin-left: 10px;
    }
    15% {
        margin-left: 0px;
        margin-right: 0px;
    }
    24% {
        margin-right: 10px;
    }
    30% {
        margin-left: 0px;
        margin-right: 0px;
    }
    100% {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bestAnimationEver {
    100% { transform: rotate(360deg)};
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}