$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(0, 0, 0);
$border-Color: rgb(0, 0, 0);


@keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes bestAnimationEver{
  0% {height: 100%; width: 100%;}
  20% {height: 25%; width: 75%;}
  40% {height: 50%; width: 50%;}
  60% {height: 75%; width: 25%;}
  80% {height: 50%; width: 50%;}
  80% {height: 100%; width: 100%;}
}

body {
  font: 100% $font-stack;
  color: $primary-color !important;
  
}
#bord{
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  .bordTile{
    width: 12.5%;
    height: 75px;
    background-color: green;
    border-style: solid;
    border-color: $border-Color;
    border-width: 1px;
    .ficheWhite {
      height: 100%;
      width: 100%;
      background: linear-gradient(315deg, transparent 75%, #757473 0)-10px 0,
        linear-gradient(45deg, transparent 75%, #999594 0)-10px 0,
        linear-gradient(135deg, #9e9999 50%, transparent 0) 0 0,
        linear-gradient(45deg, #e0d9d8 50%, #ffffff 0) 0 0 #ffffff;
        background-size: 20px 20px;
      border-radius: 50%;
      border-style: solid;
      border-color: $border-Color;
      animation: fadeIn 1s;
      animation: bestAnimationEver 3s;
    }
    
    .ficheBlack {
      height: 100%;
      width: 100%;
      background: linear-gradient(315deg, transparent 75%, #ffffff 0)-10px 0,
      linear-gradient(45deg, transparent 75%, #b1adad 0)-10px 0,
      linear-gradient(135deg, #4d4b4b 50%, transparent 0) 0 0,
      linear-gradient(45deg, #333333 50%, #000000 0) 0 0 #000000;
        background-size: 20px 20px;
      border-radius: 50%;
      border-style: solid;
      border-color: $border-Color;
      animation: fadeIn 1s;
      animation: bestAnimationEver 3s;
    }
  }  
}


